<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">

            <div class="col">
                <input type="radio" name="de_var" value="Python" onclick="handleClick(this);">
                <label for="Python">Python</label><br>
                <input type="radio" name="de_var" value="Java"  onclick="handleClick(this);">
                <label for="Java">Java</label><br>
                <input type="radio" name="de_var" value="CSS" onclick="handleClick(this);">
                <label for="CSS">CSS</label>
            </div>

            <div class="col">
                <input type="checkbox" name="inde_var" value="Python" id="Python" >
                <label for="Python"> Python</label><br>
                <input type="checkbox" name="inde_var" value="Java" id="Java">
                <label for="Java"> Java</label><br>
                <input type="checkbox" name="inde_var" value="CSS" id="CSS">
                <label for="CSS"> CSS</label><br>
            </div>
            

        
    </div>
    
    <script src="JavaScript.js"></script>
</body>
</html>